body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0a0a0a;
  color: white;
  font-family: Arial;
}

.container {
  text-align: center;
}

input {
  padding: 12px;
  width: 250px;
  border-radius: 8px;
  border: none;
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

#output {
  margin-top: 20px;
  opacity: 0.8;
}
